body {
	background: black;
}
.postcard {
	width: 400px;
	height: 300px;
	background: white;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header h1 {
	width: 100%;
	margin: 0;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-body {
	display: flex;
}
.body-left p {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}

.body-left {
	width: 50%;
}
.body-right {
	width: 50%;
}
.postcard-footer {
	text-align: center;
}
.postcard-footer button {
	background: gray;
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px gray solid;
}
